(
    output: "all",
    source: Color(Single(({{base01-dec-r}}, {{base01-dec-g}}, {{base01-dec-b}}))),
    filter_by_theme: false,
    rotation_frequency: 900,
    filter_method: Lanczos,
    scaling_mode: Zoom,
    sampling_method: Alphanumeric,
)
